{
  "$schema": "https://opencode.ai/config.json",
  "providers": {
    "{{ opencode_provider_id }}": {
      "package": "{{ opencode_provider_package }}",
      "name": "{{ opencode_provider_name }}",
      "settings": {
        "baseURL": "{{ opencode_base_url }}"
      },
      "models": {{ opencode_models | to_json }}
    }
  },

  "model": "{{ opencode_default_model }}",
  "default_agent": "plan",

  "agents": {
    "build": {
      "description": "Default coding mode with only OpenCode tools.",
      "system": "{file:./AGENTS.md}"
    },
    "title": {
      "disabled": true
    }
  }
}
