{% for host in item.hosts %}
Host {{ item.prefix }}-{{ host.name }}
	User			maintainer
	HostName		{{ host.address }}
	ServerAliveInterval	60
	ForwardAgent		yes
{% if item.bastion is defined and item.prefix not in groups %}
	ProxyJump		{{ item.bastion }}
{% endif %}

{% endfor %}

