---
- name: '~/.ssh/conf.dディレクトリを掘る'
  ansible.builtin.file:
    path: ~/.ssh/conf.d
    state: "directory"
    recurse: true

- name: '~/ssh/configを置く'
  ansible.builtin.copy:
    src: config
    dest: ~/.ssh/config

- name: '各拠点の接続情報を作成する'
  ansible.builtin.template:
    src: site.j2
    dest: ~/.ssh/conf.d/{{ item.prefix }}
  with_items: 
  - { prefix: "tk", hosts: "{{site01}}" }
  - { prefix: "iw", hosts: "{{site02}}" }

- name: 'tailscaleの接続情報を作成する'
  ansible.builtin.template:
    src: site.j2
    dest: ~/.ssh/conf.d/{{ item.prefix }}
  with_items: 
  - { prefix: "ts", hosts: "{{vault_tailscale_hosts}}" }

