[Service]
ExecStart=
ExecStart=/usr/bin/llama-swap -config {{ llama_swap_config_dir }}/config.yaml -watch-config -listen {{ ansible_default_ipv4.address }}:{{ llama_swap_listen_port }}
BindReadOnlyPaths={{ llama_swap_models_dir }}
SupplementaryGroups=llm

