{
  "$schema": "https://opencode.ai/config.json",
  "provider": {
    "ollama": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "Ollama (local)",
      "options": {
        "baseURL": "http://{{ ansible_default_ipv4.address }}:11434/v1"
      },
      "models": {
        "gpt-oss:120b": {
          "name": "gpt-oss:120b-32k",
          "tools": true,
          "num_ctx": 32768
        },
        "gpt-oss:20b": {
          "name": "gpt-oss:20b-32k",
          "tools": true,
          "num_ctx": 32768
        },
        "glm-4.7-flash:latest": {
          "name": "glm-4.7-flash:latest",
          "tools": true,
          "num_ctx": 32768
        },
        "qwen3-coder-next:latest": {
          "name": "qwen3-coder-next:latest",
          "tools": true,
          "num_ctx": 32768
        }
      }
    }
  },

  "model": "ollama/qwen3-coder-next:latest",

  "agent": {
    "build": {
      "description": "Default coding mode with only OpenCode tools.",
      "tools": {
        "read": true,
        "write": true,
        "edit": true,
        "bash": true,
        "grep": true,
        "glob": true,
        "list": true,
        "webfetch": true,
        "patch": true,
        "todoread": true,
        "todowrite": true
      },
      "prompt": "{file:./AGENTS.md}"
    }
  },

  "instructions": ["AGENTS.md"]
}

