{
  "$schema": "https://opencode.ai/config.json",
  "provider": {
    "ollama": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "Ollama (local)",
      "options": {
        "baseURL": "http://192.168.20.17:11434/v1"
      },
      "models": {
        "gpt-oss:120b": {
          "name": "gpt-oss:120b",
          "tools": true
        },
        "gpt-oss:20b": {
          "name": "gpt-oss:20b",
          "tools": true,
          "num_ctx": 16384
        }
      }
    }
  },

  "model": "ollama/gpt-oss:20b",

  "agent": {
    "build": {
      "description": "Default coding mode with only OpenCode tools.",
      "tools": {
        "read": true,
        "write": true,
        "edit": true,
        "bash": true,
        "grep": true,
        "glob": true,
        "list": true,
        "webfetch": true,
        "patch": true,
        "todoread": true,
        "todowrite": true
      },
      "prompt": "{file:./AGENTS.md}"
    }
  },

  "instructions": ["AGENTS.md"]
}

