services:
  webui:
    image: ghcr.io/open-webui/open-webui:main
    volumes:
      - type: bind
        source: ~/.open-webui
        target: /app/backend/data
    environment:
      OLLAMA_BASE_URL: http://{{ ansible_default_ipv4.address }}:11434
    extra_hosts:
      - "host.docker.internal:host-gateway"
    dns:
      - 1.1.1.1
    restart: always
    networks:
      - reverse-proxy

  nginx:
    image: nginx:latest
    volumes:
      - type: bind
        source: ./nginx/nginx.conf
        target: /etc/nginx/nginx.conf
        read_only: true
      - type: bind
        source: ./nginx/conf.d
        target: /etc/nginx/conf.d
        read_only: true
    ports:
      - "80:80"
    networks:
      - reverse-proxy
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - webui

networks:
  reverse-proxy:
    external: true

