---
- name: '必要なパッケージを追加する'
  become: true
  community.general.pacman:
    name: '{{ item.name }}'
    state: installed
  with_items: '{{ required_packages }}'

- name: '必要なAURパッケージを追加する'
  become: true
  kewlfft.aur.aur:
    name: '{{ item.name }}'
    state: present
  with_items: '{{ required_aur_packages }}'

- name: 'llmグループを作成する'
  become: true
  ansible.builtin.group:
    name: llm
    state: present

- name: 'llm用のユーザを作成する'
  become: true
  ansible.builtin.user:
    name: llm
    shell: /usr/bin/zsh
    groups: llm,docker
    append: yes
    password: "{{ vault_maintainer_password | password_hash('sha512') }}"

- name: 'systemd用ディレクトリを掘る'
  become: true
  become_user: llm
  ansible.builtin.file:
    path: ~/.config/systemd/user
    state: "directory"
    recurse: true
    owner: llm
    mode: 755

- name: 'モデル用ディレクトリを掘る'
  become: true
  become_user: llm
  ansible.builtin.file:
    path: ~/models
    state: "directory"
    recurse: true
    owner: llm
    mode: 755

- name: 'ollamaの設定を上書きする用のディレクトリを作成する'
  become: true
  ansible.builtin.file:
    path: /etc/systemd/system/ollama.service.d/ollama.service.d
    state: "directory"
    recurse: true
    owner: llm
    mode: 755

- name: '上書き用ユニットファイルを置く'
  become: true
  ansible.builtin.template:
    src: systemd-override.j2
    dest: /etc/systemd/system/ollama.service.d/override.conf

- name: 'ollama.serviceを有効化'
  become: true
  ansible.builtin.systemd:
    state: started
    enabled: true
    name: ollama
    daemon_reload: true

- name: 'モデルをダウンロード'
  ansible.builtin.shell:
    cmd: 'OLLAMA_HOST={{ ansible_default_ipv4.address }} ollama pull {{ item.name }}'
  with_items: '{{ required_models }}'

